body{
	background-color: grey;
}
form{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: orange;
}
label{
	margin-top-bottom-left-right: 10px;	
	color: black;
	font-size:16px;
}
input.form-control{
	background-color: #E3E3E3;
}